.button {
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.4s;
  outline: none;
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  &:focus {
    border: 1px solid #ffffff90;
  }
  &_primary {
    background-color: #008170;
   
    &:active {
      background-color: #006457;
    }
  }
  &_error {
    background-color: #b00020;
    &:active {
      background-color: #b00020a0;
    }
  }
  &_medium {
    padding: 10px 20px;
  }
  &_small {
    padding: 7px 14px;
  }
}
